Chunk-wise data preprocessing

In [ ]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import time
import os
import warnings
warnings.filterwarnings('ignore')

def replace_make_values(df):
	rename_mapper = {}
	mapper1 = {val: "PORSCHE" for val in df.loc[((df.Make.str.upper().str.startswith("POR", na=False))
													 |(df.Make.str.upper().str.endswith("CHE", na=False)))
													 &(~df.Make.isin(["APACHE", "CHE"])), "Make"].unique()}
	rename_mapper.update(mapper1)
	mapper2 = {val: "FORD" for val in df.loc[(df.Make.str.upper().str.startswith("FOR", na=False))
												   |(df.Make.str.upper().str.endswith("ORD", na=False))
												   , "Make"].unique()}
	rename_mapper.update(mapper2)
	mapper3 = {val: "TOWN & COUNTRY" for val in df.loc[(df.Make.str.upper().str.startswith("TOW", na=False))
															 |(df.Make.str.upper().str.endswith("TRY", na=False))
															 , "Make"].unique()}
	rename_mapper.update(mapper3)
	mapper4 = {val: "TOYOTA" for val in df.loc[(df.Make.str.upper().str.startswith("TOY", na=False))
													 |(df.Make.str.upper().str.endswith("OTA", na=False))
													 , "Make"].unique()}
	mapper4.update({"YOYOYA":"TOYOTA", 
					"TOTOYOT":"TOYOTA", 
					"YOYO":"TOYOTA", 
					"OYOYA":"TOYOTA", 
					"OYO":"TOYOTA"})
	rename_mapper.update(mapper4)
	mapper5 = {val: "MINI COOPER" for val in df.loc[(df.Make.str.upper().str.startswith("MINI", na=False))
														  |(df.Make.str.upper().str.endswith("PER", na=False))
														  , "Make"].unique()}
	mapper5.update({"MNNI":"MINI COOPER"})
	rename_mapper.update(mapper5)
	mapper6 = {val: "CHEVROLET" for val in df.loc[df.Make.str.upper().str.startswith("CHEV", na=False)
														|df.Make.str.upper().str.endswith("LET", na=False)
														, "Make"].unique()}
	mapper6.update({"CHE":"CHEVROLET",
					"CHVERLOET":"CHEVROLET",
					"CEHV":"CHEVROLET", 
					"CHV":"CHEVROLET",
					"CHRV":"CHEVROLET",
					"CEV":"CHEVROLET",
					"XCHRV":"CHEVROLET",
					"SHEV":"CHEVROLET",
					"VHEV":"CHEVROLET",
					"HEV":"CHEVROLET", 
					"CVEV":"CHEVROLET", 
					"CHE V":"CHEVROLET",
					"CNEV":"CHEVROLET",
					"CGEV":"CHEVROLET", 
					"C HEV":"CHEVROLET",
					"HCHEV":"CHEVROLET", 
					"CJEV":"CHEVROLET",
					"CHEYV":"CHEVROLET", 
					"CEHEV":"CHEVROLET",
					"CHEROVET":"CHEVROLET"})
	rename_mapper.update(mapper6)
	mapper7 = {val: "MASERATI" for val in df.loc[df.Make.str.upper().str.startswith("MAS", na=False)
													   |df.Make.str.upper().str.endswith("RATI", na=False)
													   , "Make"].unique()}
	mapper7.update({"MAZERADI":"MASERATI",
	 "MAZERATTI":"MASERATI",
	 "MAZARATTI":"MASERATI",
	 "MSAERADI":"MASERATI"})
	rename_mapper.update(mapper7)
	mapper8 = {val: "MAZDA" for val in df.loc[df.Make.str.upper().str.startswith("MAZ", na=False)
													|df.Make.str.upper().str.endswith("ZDA", na=False)
													, "Make"].unique()}
	mapper8.update({"MADZA":"MAZDA",
	 "MADA":"MAZDA",
	 "MADZ":"MAZDA",
	"MAVDA":"MAZDA",
	"MZADA":"MAZDA",
	"MARCZ":"MAZDA",
	"MACDA":"MAZDA",
	 "MAXDA":"MAZDA"})
	rename_mapper.update(mapper8)
	mapper9 = {val: "HYUNDAI" for val in df.loc[df.Make.str.upper().str.startswith("HY", na=False)
													  |df.Make.str.upper().str.endswith("DAI", na=False)
													  , "Make"].unique()}
	mapper9.update({
		"HUNDYAI":"HYUNDAI",
		"HUYN":"HYUNDAI",
		"HUNDAY":"HYUNDAI",
		"HUND":"HYUNDAI",
		"HUY":"HYUNDAI",
		"HUNDYI":"HYUNDAI",
		"HUNDY":"HYUNDAI",
		"HUYAND":"HYUNDAI",
		"HUNY":"HYUNDAI",
		"HUNYDA":"HYUNDAI",
		"HUYNDAY":"HYUNDAI",
		"HUYNDA":"HYUNDAI",
		"HUYNDIA":"HYUNDAI",
		"HUYUND":"HYUNDAI",
		"HUYDIA":"HYUNDAI",
		"HUYN 2D":"HYUNDAI",
		"HUNDI":"HYUNDAI",
		"HUN":"HYUNDAI",
		"HUYND":"HYUNDAI",
		"HUYANDI":"HYUNDAI",
		"HUINDAY":"HYUNDAI",
		"HUYUNDA":"HYUNDAI",
		"HUYNDI":"HYUNDAI",
		"HUYUN":"HYUNDAI",
		"HUYUNDI":"HYUNDAI",
		"HUDAYI":"HYUNDAI",
		"HUNDAYI":"HYUNDAI",
		"HUUNDIA":"HYUNDAI",
		"HUNAY":"HYUNDAI",
		"HUYNA":"HYUNDAI",
		"HHYUNDA":"HYUNDAI",
		"HIYUNDA":"HYUNDAI",
		"HIUNDA":"HYUNDAI",
		"HAYUNDI":"HYUNDAI"
	})
	rename_mapper.update(mapper9)
	mapper10 = {val: "HONDA" for val in df.loc[
		((df.Make.str.upper().str.startswith("HON", na=False))|
		 (df.Make.str.upper().str.endswith("DA", na=False)))&
		 (~df.Make.str.upper().isin(["MAZDA", "TESLDA", "KIDA", "FLORIDA", "ACURDA", "ARMADA", "SUDA"])), 
		"Make"].unique()}
	rename_mapper.update(mapper10)
	mapper11 = {val: "TESLA" for val in df.loc[
		((df.Make.str.upper().str.startswith("TES", na=False))|
		 (df.Make.str.upper().str.endswith("SLA", na=False))), "Make"].unique()}
	mapper11.update({"TSELA": "TESLA",
					"TELSA": "TESLA",
					"TELSA`": "TESLA",
					"TSELA": "TESLA"})
	rename_mapper.update(mapper11)
	mapper12 = {val: "SUZUKI" for val in df.loc[
		((df.Make.str.upper().str.startswith("SUZ", na=False))|
		 (df.Make.str.upper().str.endswith("UKI", na=False))), "Make"].unique()}
	rename_mapper.update(mapper12)
	mapper13 = {val: "SUBARU" for val in df.loc[
		((df.Make.str.upper().str.startswith("SUB", na=False))|
		 (df.Make.str.upper().str.endswith("ARU", na=False))), "Make"].unique()}
	rename_mapper.update(mapper13)
	mapper14 = {val: "VOLKSWAGEN" for val in df.loc[
		((df.Make.str.upper().str.startswith("VOLK", na=False))|
		 (df.Make.str.upper().str.endswith("AGEN", na=False))|
		 (df.Make.str.upper().str.contains("SWA", na=False))), "Make"].unique()}
	mapper14.update({"VOLWAGON":"VOLKSWAGEN",
					 "VOLSKWAGON":"VOLKSWAGEN",
					 "VOLT WAGON":"VOLKSWAGEN",
					 "VOLTWAGON":"VOLKSWAGEN",
					 "VOLTS WAGON":"VOLKSWAGEN",
					 "VOLSK": "VOLKSWAGEN",
					 "VOLSKS":"VOLKSWAGEN",
					 "VOLLKS":"VOLKSWAGEN",
					 "VOLS":"VOLKSWAGEN",
					 "VOLTZ":"VOLKSWAGEN",
					 "VOLTS":"VOLKSWAGEN",
					 "VOLWAG":"VOLKSWAGEN",
					 "VOLZ":"VOLKSWAGEN",
					 "VOLSW":"VOLKSWAGEN",
					 "VOLT":"VOLKSWAGEN",
					 "VOKS":"VOLKSWAGEN",
					 "VOK":"VOLKSWAGEN",
					 "VO;KS":"VOLKSWAGEN",
					 "VOIKS":"VOLKSWAGEN",
					 "VOKLS":"VOLKSWAGEN",
					 "VOKWAGON":"VOLKSWAGEN",
					 "VLOK":"VOLKSWAGEN",
					 "VO;K":"VOLKSWAGEN",
					 "VOILKS":"VOLKSWAGEN",
					 "VLOKS":"VOLKSWAGEN", 
					 "VOTLS WAGON":"VOLKSWAGEN", 
					 "VOWLKS":"VOLKSWAGEN"})
	rename_mapper.update(mapper14)
	mapper15 = {val: "VOLVO" for val in df.loc[
		((df.Make.str.upper().str.startswith("VOLV", na=False))|
		 (df.Make.str.upper().str.endswith("LVO", na=False))|
		 (df.Make.str.upper().str.contains("OLV", na=False))), "Make"].unique()}
	mapper15.update({"VOVLO": "VOLVO", 
					 "VOVO": "VOLVO", 
					 "VOV": "VOLVO", 
					 "VOVL": "VOLVO", 
					 "VOVLV": "VOLVO", 
					 "VOVOL": "VOLVO",
					 "VOL": "VOLVO", 
					 "VOLO": "VOLVO", 
					 "VOL VO": "VOLVO", 
					 "VOLCO": "VOLVO", 
					 "VOLOV": "VOLVO",
					 "VOLJS": "VOLVO", 
					 "VOL;VO": "VOLVO", 
					 "VOLOVO": "VOLVO", 
					 "VILV": "VOLVO", 
					 "V0LV":"VOLVO",
					 "VLOVO":"VOLVO",
					 "VLV":"VOLVO"})
	rename_mapper.update(mapper15)
	mapper16 = {val: "MERCURY" for val in df.loc[
		((df.Make.str.upper().str.startswith("MERCU", na=False))
		 |(df.Make.str.upper().str.endswith("CURY", na=False))), "Make"].unique()}
	mapper16.update({"MECRURY":"MERCURY",
					 "MECURT":"MERCURY",
					 "MEC":"MERCURY",
					 "MECE":"MERCURY"})
	rename_mapper.update(mapper16)
	mapper17 = {val: "ACURA" for val in df.loc[
		((df.Make.str.upper().str.startswith("ACU", na=False))
		 |(df.Make.str.upper().str.endswith("URA", na=False))
		 |(df.Make.str.upper().str.contains("CURA", na=False))
		 ), "Make"].unique()}
	rename_mapper.update(mapper17)
	mapper18 = {val: "SATURN" for val in df.loc[
		((df.Make.str.upper().str.startswith("SAT", na=False))
		 |(df.Make.str.upper().str.endswith("URN", na=False))
		 |(df.Make.str.upper().str.contains("ATUR", na=False))
		 ), "Make"].unique()}
	rename_mapper.update(mapper18)
	mapper19 = {val: "MERCEDES" for val in df.loc[
		((df.Make.str.upper().str.startswith("MERC", na=False))
		 |(df.Make.str.upper().str.endswith("DES", na=False))
		 |(df.Make.str.upper().str.contains("CED", na=False))
		 ), "Make"].unique()}
	mapper19.update({"MERZ":"MERCEDES", 
					 "BENZ":"MERCEDES", 
					 "MERZ C300":"MERCEDES"})
	rename_mapper.update(mapper19)
	mapper20 = {val: "HUMMER" for val in ["HUMMER", "HUMM", "HUMER", "HUM"]}
	rename_mapper.update(mapper20)
	mapper21 = {val: "HUDSON" for val in ["HUDS"]}
	rename_mapper.update(mapper21)
	mapper22 = {val: "HARLEY DAVIDSON" for val in df.loc[
		((df.Make.str.upper().str.startswith("HAR", na=False))
		 |(df.Make.str.upper().str.endswith("IDSON", na=False))
		 ), "Make"].unique()}
	rename_mapper.update(mapper22)
	mapper23 = {val: "NISSAN" for val in df.loc[
		((df.Make.str.upper().str.startswith("NIS", na=False))
		 |(df.Make.str.upper().str.endswith("SAN", na=False))
		 ), "Make"].unique()}
	rename_mapper.update(mapper23)
	mapper24 = {val: "RANGE ROVER" for val in ["RANGE ROVER", "ROVER", "RANGER ROVER", "RANGE", "RANGEROVER", 
											   "RNG ROVER", "RANGE ROIVER", "RANGE ROGER", "RANGE  ROVER", 
											   "RANGE ROV", "RANGER", "RANG ROVER", "RANGROVER", "RANGE RVR", 
											   "RANGE OVER", "RANGE RV", "RANGE R", "RANFE ROVER", "RANGE ROVR", 
											   "RAND ROVER", "RANGE RVER", "RANGR ROVER", "RANDGE ROVER", "RAGE ROVER", 
											   "RAINGE ROVER", "RANGERVR", "RANGEVROVER", "RANGE ROVERY", "RANGE ROVE", 
											   "RANGE ROVERLNDR", "RANGSUV"]}
	rename_mapper.update(mapper24)
	mapper25 = {val: "LAND ROVER" for val in ["LANDROVER", "LAND ROVER", "LAMD ROVER", "LAN ROVER", "LANROVER", 
											  "LANDR", "LAND RV", ";AND ROVER", "LNDROVER", "LABD ROVER", 
											  "LAND RVR", "LAND ROVE", "LAND OVER", "LAND ROV", "LAND", "LANDOVER", 
											  "LAND  ROVER", "LND ROVER", "L ROVER", "LAND RAOVER", "LAND EOVER", 
											  "LA ND ROVER", "LANDRO", "LAND ROVR", "LANDROV", "LANDVAL2013", "LANDROVE", 
											  "LANDDROVER", "LMAND ROVER", "LAND ROVWR", "LANDRVR", "LAND RVER", "LANDROER", 
											  "LAND RANGER", "LANDR ROVER","LAD ROVER", "LAND ROER", "LAND-ROVER", "LAND5ROVER", 
											  "LAND RVT", "LAND ROAVER"]}
	rename_mapper.update(mapper25)
	mapper26 = {val: "KAWASAKI" for val in df.loc[
		((df.Make.str.upper().str.startswith("KAWA", na=False))
		 |(df.Make.str.upper().str.endswith("SAKI", na=False))
		 ), "Make"].unique()}
	mapper26.update({val:"KAWASAKI" for val in ["KAWK", "KAWKASKI"]})
	rename_mapper.update(mapper26)
	mapper27 = {val: "LONGBOW" for val in ["NINGBO", "LONGBO", "LONG"]}
	rename_mapper.update(mapper27)
	mapper28 = {val: "LINCOLN" for val in ["LINCOLN", "LINCOLIN", "LINCON", "LICOLN", "LINCOL", "INCOLN",
	"LINCONLN", "LONCOLN", "LINCOLNN", "LINCO", "LINCONL", "LIINCOLN", "LINCOLB", "LINCOKN", "LINCOLCN", 
	"LINNCOLN", "LINCOLM", "LNCOLIN", "LONCOLN", "LONCIN 110CC", "LINC"]}
	rename_mapper.update(mapper28)
	mapper29 = {val: "MITSUBISHI" for val in df.loc[
		((df.Make.str.upper().str.startswith("MITS", na=False))
		 |(df.Make.str.upper().str.endswith("ISHI", na=False))
		 |(df.Make.str.upper().str.contains("TSUBI", na=False))
		 ), "Make"].unique()}
	mapper29.update({"MITZ":"MITSUBISHI"})
	rename_mapper.update(mapper29)
	mapper30 = {val: "LEXUS" for val in df.loc[
		((df.Make.str.upper().str.startswith("LEX", na=False))
		 |(df.Make.str.upper().str.endswith("XUS", na=False))
		 |(df.Make.str.upper().str.contains("EXU", na=False))
		 ), "Make"].unique()}
	rename_mapper.update(mapper30)
	mapper31 = {val: "BMW" for val in df.loc[
		((df.Make.str.upper().str.contains("BM", na=False))
		 |(df.Make.str.upper().str.contains("MW", na=False))
		 |(df.Make.str.upper().str.contains("BW", na=False))
		 ), "Make"].unique()}
	rename_mapper.update(mapper31)
	mapper32 = {val: "FIAT" for val in df.loc[
		((df.Make.str.upper().str.startswith("FIA", na=False))
		 |(df.Make.str.upper().str.endswith("IAT", na=False))
		 ), "Make"].unique()}
	rename_mapper.update(mapper32)
	mapper33 = {val: "PONTIAC" for val in df.loc[
		((df.Make.str.upper().str.startswith("PON", na=False))
		 |(df.Make.str.upper().str.endswith("TIAC", na=False))
		 ), "Make"].unique()}
	rename_mapper.update(mapper33)
	mapper34 = {val: "CADILLAC" for val in df.loc[
		((df.Make.str.upper().str.startswith("CAD", na=False))
		 |(df.Make.str.upper().str.endswith("LAC", na=False))
		 ), "Make"].unique()}
	rename_mapper.update(mapper34)
	mapper35 = {val: "JIANGSU BAODIAO" for val in df.loc[
		((df.Make.str.upper().str.startswith("JIAN", na=False))
		 |(df.Make.str.upper().str.endswith("DIAO", na=False))
		 ), "Make"].unique()}
	rename_mapper.update(mapper35)
	mapper36 = {val: "KAUFFMAN" for val in df.loc[
		((df.Make.str.upper().str.startswith("KAU", na=False))
		 |(df.Make.str.upper().str.endswith("FMAN", na=False))
		 ), "Make"].unique()}
	rename_mapper.update(mapper36)
	mapper37 = {val: "ZHEJIANG JIAJUE" for val in df.loc[
		((df.Make.str.upper().str.startswith("ZHEJ", na=False))
		 |(df.Make.str.upper().str.endswith("AJUE", na=False))
		 |(df.Make.str.upper().str.contains("JIAJ", na=False))
		 ), "Make"].unique()}
	rename_mapper.update(mapper37)
	mapper38 = {val: "RIVIAN" for val in df.loc[
		((df.Make.str.upper().str.startswith("RIVI", na=False))
		 ), "Make"].unique()}
	rename_mapper.update(mapper38)
	mapper39 = {val: "DUCATI" for val in df.loc[
		((df.Make.str.upper().str.startswith("DUCA", na=False))
		 ), "Make"].unique()}
	mapper39.update({"DUCOTI":"DUCATI"})
	rename_mapper.update(mapper39)
	mapper40 = {val: "KIA" for val in df.loc[
		((df.Make.str.upper().str.contains("KIA", na=False))
		 ), "Make"].unique()}
	mapper40.update({val:"KIA" for val in ["KIIA", "KIS"]})
	rename_mapper.update(mapper40)
	mapper41 = {val: "PIAGGIO" for val in df.loc[
		((df.Make.str.upper().str.startswith("PIA", na=False))
		 |(df.Make.str.upper().str.contains("GIO", na=False))
		 ), "Make"].unique()}
	rename_mapper.update(mapper41)
	mapper42 = {val: "AUDI" for val in df.loc[
		((df.Make.str.upper().str.startswith("AUDI", na=False))
		 |(df.Make.str.upper().str.endswith("UDI", na=False))
		 ), "Make"].unique()}
	mapper42.update({"AUID":"AUDI"})
	rename_mapper.update(mapper42)
	mapper43 = {val: "QIAN" for val in df.loc[
		((df.Make.str.upper().str.contains("QIAN", na=False))
		 ), "Make"].unique()}
	rename_mapper.update(mapper43)
	mapper44 = {val: "RAM" for val in df.loc[
		((df.Make.str.upper().str.contains("RAM", na=False))
		 ), "Make"].unique()}
	rename_mapper.update(mapper44)
	mapper45 = {val: "SCION" for val in df.loc[
		((df.Make.str.upper().str.contains("SCION", na=False))
		 ), "Make"].unique()}
	rename_mapper.update(mapper45)
	mapper46 = {val: "JAGUAR" for val in df.loc[
		(df.Make.str.upper().str.startswith("JAG", na=False))
		|(df.Make.str.upper().str.endswith("UAR", na=False))
		|(df.Make.str.upper().str.contains("GUAR", na=False))
		 , "Make"].unique()}
	rename_mapper.update(mapper46)
	mapper47 = {val: "WESTERN STAR" for val in ['WSTR', 'WEST', 'WESTERN STAR', 'STAR',
		   'FIVE STAR', 'WESTERN', 'WEST TK', 'HOME STAR',
		   'WESTERN STA', 'WESTERN-STAR']}
	rename_mapper.update(mapper47)
	mapper48 = {val: "DODGE" for val in df.loc[
		(df.Make.str.upper().str.contains("DODGE", na=False))
		|(df.Make.str.upper().str.startswith("DOD", na=False))
		|(df.Make.str.upper().str.endswith("DGE", na=False))
		 , "Make"].unique()}
	rename_mapper.update(mapper48)
	mapper49 = {val: "INFINITI" for val in df.loc[
		(df.Make.str.upper().str.contains("INFI", na=False))
		 , "Make"].unique()}
	rename_mapper.update(mapper49)
	mapper50 = {val: "JEEP" for val in df.loc[
		(df.Make.str.upper().str.startswith("JE", na=False))
		|(df.Make.str.upper().str.endswith("EP", na=False))
		 , "Make"].unique()}
	rename_mapper.update(mapper50)
	mapper51 = {val: "INTERNATIONAL" for val in df.loc[
		(df.Make.str.upper().str.startswith("INTER", na=False))
		|(df.Make.str.upper().str.endswith("TIONAL", na=False))
		 , "Make"].unique()}
	mapper51.update({"INTL":"INTERNATIONAL"})
	rename_mapper.update(mapper51)
	mapper52 = {val: "THOMAS" for val in df.loc[
		(df.Make.str.upper().str.startswith("THOM", na=False))
		|(df.Make.str.upper().str.endswith("OMAS", na=False))
		|(df.Make.str.upper().str.contains("OMA", na=False))
		 , "Make"].unique()}
	mapper52.update({"THMS":"THOMAS"})
	rename_mapper.update(mapper52)
	mapper53 = {val: "CHRYSLER" for val in df.loc[
		(df.Make.str.upper().str.contains("CHRY", na=False))
		 , "Make"].unique()}
	rename_mapper.update(mapper53)
	mapper54 = {val: "ISUZU" for val in df.loc[
		(df.Make.str.upper().str.startswith("ISU", na=False))
		|(df.Make.str.upper().str.endswith("UZU", na=False))
		 , "Make"].unique()}
	rename_mapper.update(mapper54)
	mapper55 = {val: "GENESIS" for val in ['GENESIS', 'GENE', 'HENESIS', 'GENESS']}
	rename_mapper.update(mapper55)
	mapper56 = {val: "TEXAS PRIDE" for val in ['TEXAS PRIDE', 'RIDE', 'TEXS', 'TEXA']}
	rename_mapper.update(mapper56)
	mapper57 = {val: "FREIGHTLINER" for val in df.loc[
		(df.Make.str.upper().str.startswith("FREI", na=False))
		|(df.Make.str.upper().str.endswith("LINER", na=False))
		|(df.Make.str.upper().str.contains("GHTL", na=False))
		 , "Make"].unique()}
	rename_mapper.update(mapper57)
	mapper58 = {val: "FISKER" for val in ['FISKER', 'FISK']}
	rename_mapper.update(mapper58)
	mapper59 = {val: "MACK" for val in ['MACK', 'MACH', 'MACL', 'MAC',
		   'MACK TRUCK']}
	rename_mapper.update(mapper59)
	mapper60 = {val: "WHITE" for val in df.loc[
		(df.Make.str.upper().str.startswith("WHIT", na=False))
		|(df.Make.str.upper().str.endswith("HITE", na=False))
		 , "Make"].unique()}
	rename_mapper.update(mapper60)
	df.Make = df.Make.replace(rename_mapper)
	return df
	
def columnwise_cleaning(df):
	df["DateTime Of Stop"] = pd.to_datetime(df['Date Of Stop'] +" "+ df['Time Of Stop'], errors="raise")
	df["Date Of Stop"] = pd.to_datetime(df['Date Of Stop'], errors="raise")
	df["Description"] = df.Description.str.lstrip().str.rstrip().str.lower()
	df["Location"] = df.Location.str.replace("@", "/")
	df["Latitude"] = pd.to_numeric(df.Latitude).replace(0, np.nan).apply(lambda x: round(x,2)) #remove impossible coordinates
	df["Longitude"] = pd.to_numeric(df.Longitude).replace(0, np.nan).apply(lambda x: round(x,2))
	df["Accident"] = df.Accident.replace({"Yes":True, "No":False})
	df["Belts"] = df.Belts.replace({"Yes":True, "No":False})
	df["Personal Injury"] = df["Personal Injury"].replace({"Yes":True, "No":False})
	df["Property Damage"] = df["Property Damage"].replace({"Yes":True, "No":False})
	df["Fatal"] = df["Fatal"].replace({"Yes":True, "No":False})
	df["Commercial License"] = df["Commercial License"].replace({"Yes":True, "No":False})
	df["HAZMAT"] = df["HAZMAT"].replace({"Yes":True, "No":False})
	df["Commercial Vehicle"] = df["Commercial Vehicle"].replace({"Yes":True, "No":False})
	df["Alcohol"] = df["Alcohol"].replace({"Yes":True, "No":False})
	df["Work Zone"] = df["Work Zone"].replace({"Yes":True, "No":False})
	df["Search Conducted"].fillna("No", inplace=True)
	df["Search Disposition"] = df["Search Disposition"].fillna("Not Applicable").str.replace("nothing", "Nothing")
	df["Search Outcome"].fillna("NA", inplace=True)
	# df["Search Reason"].fillna("Not Applicable", inplace=True)
	# df["Search Reason For Stop"].fillna("Not Applicable", inplace=True)
	df["Search Type"].fillna("Not Applicable", inplace=True)
	# df["Search Arrest Reason"].fillna("Not Applicable", inplace=True)
	# df["State"].fillna("Not Applicable", inplace=True)
	df["VehicleType"] = df["VehicleType"].str.replace(" - ", "-")
	df.loc[(df["Year"]<1960)|(df["Year"]>2025), "Year"] = np.nan
	df["Color"] = df["Color"].replace({"BLUE, DARK":"BLUE", "BLUE, LIGHT":"BLUE", "GREEN, LGT":"GREEN", "GREEN, DK":"GREEN"})
	df["Violation Type"] = df["Violation Type"].replace({"SERO":"ESERO"})
	df.drop_duplicates(subset=["SeqID", "Charge"],keep="last", inplace=True)
	df["Driver City"] = df["Driver City"].replace("NONE", np.nan)
	df["Arrest Type Code"] = df["Arrest Type"].apply(lambda x: x.split(" - ")[0])
	df["Arrest Type Description"] = df["Arrest Type"].apply(lambda x: x.split(" - ")[1])
	df.loc[df["Geolocation"]=="(0.0, 0.0)", "Geolocation"] = np.nan
	# df["Latitude"] = df["Geolocation"].apply(lambda x: x[0] if x[0]!=0 else np.nan)
	# df["Longitude"] = df["Geolocation"].apply(lambda x: x[1] if x[1]!=0 else np.nan)
	return df

st_time = time.time()
engine = create_engine("mysql+mysqlconnector://4WbWyupWCd3hqWf.root:tNYOux4d2tMVPa1T@gateway01.ap-southeast-1.prod.aws.tidbcloud.com:4000/Traffic_Violation_DB")
# output_file = r"C:\Users\hyuvaraj\OneDrive - Nokia\Learnings\Guvi\project_02\Traffic_Violations_processed.csv"
chunks = pd.read_csv(
    "Traffic_Violations.csv", 
    chunksize=500000)
rename_col = {'SeqID': 'SeqID',
 'Date Of Stop': 'Date_Of_Stop',
 'Time Of Stop': 'Time_Of_Stop',
 'Agency': 'Agency',
 'SubAgency': 'SubAgency',
 'Description': 'Description',
 'Location': 'Location',
 'Latitude': 'Latitude',
 'Longitude': 'Longitude',
 'Accident': 'Accident',
 'Belts': 'Belts',
 'Personal Injury': 'Personal_Injury',
 'Property Damage': 'Property_Damage',
 'Fatal': 'Fatal',
 'Commercial License': 'Commercial_License',
 'HAZMAT': 'HAZMAT',
 'Commercial Vehicle': 'Commercial_Vehicle',
 'Alcohol': 'Alcohol',
 'Work Zone': 'Work_Zone',
 'Search Conducted': 'Search_Conducted',
 'Search Disposition': 'Search_Disposition',
 'Search Outcome': 'Search_Outcome',
 'Search Reason': 'Search_Reason',
 'Search Reason For Stop': 'Search_Reason_For_Stop',
 'Search Type': 'Search_Type',
 'Search Arrest Reason': 'Search_Arrest_Reason',
 'State': 'State',
 'VehicleType': 'VehicleType',
 'Year': 'Year',
 'Make': 'Make',
 'Model': 'Model',
 'Color': 'Color',
 'Violation Type': 'Violation_Type',
 'Charge': 'Charge',
 'Article': 'Article',
 'Contributed To Accident': 'Contributed_To_Accident',
 'Race': 'Race',
 'Gender': 'Gender',
 'Driver City': 'Driver_City',
 'Driver State': 'Driver_State',
 'DL State': 'DL_State',
 'Geolocation': 'Geolocation',
 'DateTime Of Stop': 'DateTime_Of_Stop',
 'Arrest Type Code': 'Arrest_Type_Code',
 'Arrest Type Description': 'Arrest_Type_Description'}
tot_shape = 0
for ind, df in enumerate(chunks, 1):
	print(f"Iteration: {ind} | Initiated.. | Total shape: {df.shape}")
	print(f"Duplicate shape: {df.loc[df.duplicated()].shape} | After drop duplicates: {df.drop_duplicates(keep='first').shape}")
	df.drop_duplicates(keep='first', inplace=True)
	columnwise_cleaning(df)
	replace_make_values(df)
	
	df.drop(columns=["Arrest Type"], inplace=True)
	df.rename(columns=rename_col, inplace=True)
	# df.to_sql("Traffic_Violation", con=engine, if_exists="append", index=False, method="multi", chunksize=5000)
	print(f"{ind} | Loaded shape{df.shape}")
	tot_shape += df.shape[0]
	# if os.path.isfile(output_file):
		# df.to_csv(output_file, index=False, header=False, mode="a")
	# else:
		# df.to_csv(output_file, index=False, header=True, mode="w")
	print("-------------------------------------------------------------------\n")
	# break

print(f"Total shape: {tot_shape} | Overall time taken: {round((time.time()-st_time)/60, 2)} minutes")

Iteration: 1 | Initiated.. | Total shape: (500000, 43)
Duplicate shape: (947, 43) | After drop duplicates: (499053, 43)
1 | Loaded shape(496473, 45)
-------------------------------------------------------------------

Iteration: 2 | Initiated.. | Total shape: (500000, 43)
Duplicate shape: (723, 43) | After drop duplicates: (499277, 43)
2 | Loaded shape(495129, 45)
-------------------------------------------------------------------

Iteration: 3 | Initiated.. | Total shape: (500000, 43)
Duplicate shape: (316, 43) | After drop duplicates: (499684, 43)
3 | Loaded shape(498675, 45)
-------------------------------------------------------------------

Iteration: 4 | Initiated.. | Total shape: (500000, 43)
Duplicate shape: (281, 43) | After drop duplicates: (499719, 43)
4 | Loaded shape(498533, 45)
-------------------------------------------------------------------

Iteration: 5 | Initiated.. | Total shape: (70115, 43)
Duplicate shape: (28, 43) | After drop duplicates: (70087, 43)
5 | Loaded shape(69760, 45)
-------------------------------------------------------------------

Total shape: 2058570 | Overall time taken: 53.55 minutes

In [ ]:
"""Host: gateway01.ap-southeast-1.prod.aws.tidbcloud.com
Port: 4000
username: 4WbWyupWCd3hqWf.root
Password: tNYOux4d2tMVPa1T"""

Creating DB & Table

In [3]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.0.0-cp38-cp38-win_amd64.whl (14.3 MB)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.0.0
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.1.1; however, version 25.0.1 is available.
You should consider upgrading via the 'C:\Users\hyuvaraj\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

In [2]:
import mysql.connector

conn = mysql.connector.connect(
    host="gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
    port=4000,
    user="4WbWyupWCd3hqWf.root",
    password="tNYOux4d2tMVPa1T")

cur = conn.cursor()

# cur.execute("drop TABLE Traffic_Violation_DB.`Traffic_Violation`;")
cur.execute("select * from Traffic_Violation_DB.Traffic_Violation limit 15;")
res=cur.fetchall()
print(res)
# cur.execute("create database if not exists Traffic_Violation_DB;")
# cur.execute("""create table if not exists Traffic_Violation_DB.Traffic_Violation(
	# SeqID varchar(36),
	# Date_Of_Stop date,
	# Time_Of_Stop time,
	# Agency varchar(10),
	# SubAgency varchar(100),
	# Description varchar(250),
	# Location varchar(75),
	# Latitude decimal(8,6),
	# Longitude decimal(8,6),
	# Accident boolean,
	# Belts boolean,
	# Personal_Injury boolean,
	# Property_Damage boolean,
	# Fatal boolean,
	# Commercial_License boolean,
	# HAZMAT boolean,
	# Commercial_Vehicle boolean,
	# Alcohol boolean,
	# Work_Zone boolean,
	# Search_Conducted varchar(3),
	# Search_Disposition varchar(40),
	# Search_Outcome varchar(12),
	# Search_Reason varchar(30),
	# Search_Reason_For_Stop varchar(20),
	# Search_Type varchar(20),
	# Search_Arrest_Reason varchar(10),
	# `State` varchar(2),
	# VehicleType varchar(40),
	# `Year` int,
	# Make varchar(40),
	# Model varchar(40),
	# Color varchar(20),
	# Violation_Type varchar(15),
	# Charge varchar(40),
	# Article varchar(40),
	# Contributed_To_Accident boolean,
	# Race varchar(15),
	# Gender varchar(1),
	# Driver_City varchar(40),
	# Driver_State varchar(2),
	# DL_State varchar(2),
	# Geolocation varchar(40),
	# DateTime_Of_Stop datetime,
	# Arrest_Type_Code varchar(1),
	# Arrest_Type_Description varchar(80)
    # );""")

[('52282e8c-f2e1-4bb5-8509-2d5e4f8da8ca', datetime.date(2023, 5, 1), datetime.timedelta(seconds=83460), 'MCP', '3rd District, Silver Spring', 'operating unregistered motor vehicle on highway', 'BRIGGS CHANEY RD / COLUMIBA PIKE', None, None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'No', 'Not Applicable', 'Citation', None, '17-107(a1)', 'Not Applicable', None, 'MD', '02-Automobile', 2007, 'CHEVROLET', 'CRUZ', 'BLACK', 'Citation', '13-401(b1)', 'Transportation Article', 0, 'WHITE', 'M', 'GAITHERSBURG', 'MD', 'MD', None, datetime.datetime(2023, 5, 1, 23, 11), 'A', 'Marked Patrol'), ('b66f253b-af29-4bc4-bb73-93755ca2a779', datetime.date(2023, 8, 31), datetime.timedelta(seconds=60060), 'MCP', '6th District, Gaithersburg / Montgomery Village', 'driving to drive motor vehicle on highway without required license and authorization', 'OAKMONT AVE / GROVEMONT CIR', Decimal('39.10'), Decimal('-77.15'), 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'No', 'Not Applicable', 'Citation', None, '20-102(a1)', 'Not Applicable', None, 'MD', '02-Automobile', 2005, 'FORD', 'EXPLORER', 'BLACK', 'Citation', '16-101(a1)', 'Transportation Article', 0, 'HISPANIC', 'M', 'GAITHERSBURG', 'MD', 'MD', '(39.097965, -77.15301)', datetime.datetime(2023, 8, 31, 16, 41), 'A', 'Marked Patrol'), ('b66f253b-af29-4bc4-bb73-93755ca2a779', datetime.date(2023, 8, 31), datetime.timedelta(seconds=60060), 'MCP', '6th District, Gaithersburg / Montgomery Village', 'failure to display registration card upon demand by police officer', 'OAKMONT AVE / GROVEMONT CIR', Decimal('39.10'), Decimal('-77.15'), 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'No', 'Not Applicable', 'Citation', None, '20-102(a1)', 'Not Applicable', None, 'MD', '02-Automobile', 2005, 'FORD', 'EXPLORER', 'BLACK', 'Citation', '13-409(b)', 'Transportation Article', 0, 'HISPANIC', 'M', 'GAITHERSBURG', 'MD', 'MD', '(39.097965, -77.15301)', datetime.datetime(2023, 8, 31, 16, 41), 'A', 'Marked Patrol'), ('b66f253b-af29-4bc4-bb73-93755ca2a779', datetime.date(2023, 8, 31), datetime.timedelta(seconds=60060), 'MCP', '6th District, Gaithersburg / Montgomery Village', 'driver of motor vehicle following vehicle closer than reasonable and prudent', 'OAKMONT AVE / GROVEMONT CIR', Decimal('39.10'), Decimal('-77.15'), 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'No', 'Not Applicable', 'Citation', None, '20-102(a1)', 'Not Applicable', None, 'MD', '02-Automobile', 2005, 'FORD', 'EXPLORER', 'BLACK', 'Citation', '21-310(a)', 'Transportation Article', 0, 'HISPANIC', 'M', 'GAITHERSBURG', 'MD', 'MD', '(39.097965, -77.15301)', datetime.datetime(2023, 8, 31, 16, 41), 'A', 'Marked Patrol'), ('b66f253b-af29-4bc4-bb73-93755ca2a779', datetime.date(2023, 8, 31), datetime.timedelta(seconds=60060), 'MCP', '6th District, Gaithersburg / Montgomery Village', 'failure to control veh. speed on hwy. to avoid collision', 'OAKMONT AVE / GROVEMONT CIR', Decimal('39.10'), Decimal('-77.15'), 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'No', 'Not Applicable', 'Citation', None, '20-102(a1)', 'Not Applicable', None, 'MD', '02-Automobile', 2005, 'FORD', 'EXPLORER', 'BLACK', 'Citation', '21-801(b)', 'Transportation Article', 0, 'HISPANIC', 'M', 'GAITHERSBURG', 'MD', 'MD', '(39.097965, -77.15301)', datetime.datetime(2023, 8, 31, 16, 41), 'A', 'Marked Patrol'), ('971ef50f-f138-419f-89e5-5d2cc5d7b75a', datetime.date(2023, 4, 30), datetime.timedelta(seconds=86100), 'MCP', '4th District, Wheaton', 'driving vehicle on highway with suspended registration', 'KEMP MILL ROAD / ALPERT LANE', Decimal('39.05'), Decimal('-77.02'), 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'No', 'Not Applicable', 'Citation', None, '55*', 'Not Applicable', None, 'MD', '02-Automobile', 2013, 'HYUNDAI', 'SONATA', 'RED', 'Citation', '13-401(h)', 'Transportation Article', 0, 'WHITE', 'F', 'SILVER SPRING', 'MD', 'MD', '(39.0530383333333, -77.0246366666667)', datetime.datetime(2023, 4, 30, 23, 55), 'A', 'Marked Patrol'), ('b66f253b-af29-4bc4-bb73-93755ca2a779', datetime.date(2023, 8, 31), datetime.timedelta(seconds=60060), 'MCP', '6th District, Gaithersburg / Montgomery Village', 'failure of individual driving on highway to display license to uniformed police on demand', 'OAKMONT AVE / GROVEMONT CIR', Decimal('39.10'), Decimal('-77.15'), 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'No', 'Not Applicable', 'Citation', None, '20-102(a1)', 'Not Applicable', None, 'MD', '02-Automobile', 2005, 'FORD', 'EXPLORER', 'BLACK', 'Citation', '16-112(c)', 'Transportation Article', 0, 'HISPANIC', 'M', 'GAITHERSBURG', 'MD', 'MD', '(39.097965, -77.15301)', datetime.datetime(2023, 8, 31, 16, 41), 'A', 'Marked Patrol'), ('b66f253b-af29-4bc4-bb73-93755ca2a779', datetime.date(2023, 8, 31), datetime.timedelta(seconds=60060), 'MCP', '6th District, Gaithersburg / Montgomery Village', 'failure to stop after accident involving damage to attended veh.', 'OAKMONT AVE / GROVEMONT CIR', Decimal('39.10'), Decimal('-77.15'), 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'No', 'Not Applicable', 'Citation', None, '20-102(a1)', 'Not Applicable', None, 'MD', '02-Automobile', 2005, 'FORD', 'EXPLORER', 'BLACK', 'Citation', '20-103(a)', 'Transportation Article', 0, 'HISPANIC', 'M', 'GAITHERSBURG', 'MD', 'MD', '(39.097965, -77.15301)', datetime.datetime(2023, 8, 31, 16, 41), 'A', 'Marked Patrol'), ('b66f253b-af29-4bc4-bb73-93755ca2a779', datetime.date(2023, 8, 31), datetime.timedelta(seconds=60060), 'MCP', '6th District, Gaithersburg / Montgomery Village', 'failure to return to & remain at scene of accidentinvolving attended veh.damage', 'OAKMONT AVE / GROVEMONT CIR', Decimal('39.10'), Decimal('-77.15'), 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'No', 'Not Applicable', 'Citation', None, '20-102(a1)', 'Not Applicable', None, 'MD', '02-Automobile', 2005, 'FORD', 'EXPLORER', 'BLACK', 'Citation', '20-103(b)', 'Transportation Article', 0, 'HISPANIC', 'M', 'GAITHERSBURG', 'MD', 'MD', '(39.097965, -77.15301)', datetime.datetime(2023, 8, 31, 16, 41), 'A', 'Marked Patrol'), ('b66f253b-af29-4bc4-bb73-93755ca2a779', datetime.date(2023, 8, 31), datetime.timedelta(seconds=60060), 'MCP', '6th District, Gaithersburg / Montgomery Village', 'failure of veh. driver involved in accident to give insurance policy information', 'OAKMONT AVE / GROVEMONT CIR', Decimal('39.10'), Decimal('-77.15'), 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'No', 'Not Applicable', 'Citation', None, '20-102(a1)', 'Not Applicable', None, 'MD', '02-Automobile', 2005, 'FORD', 'EXPLORER', 'BLACK', 'Citation', '20-105.1', 'Transportation Article', 0, 'HISPANIC', 'M', 'GAITHERSBURG', 'MD', 'MD', '(39.097965, -77.15301)', datetime.datetime(2023, 8, 31, 16, 41), 'A', 'Marked Patrol'), ('b66f253b-af29-4bc4-bb73-93755ca2a779', datetime.date(2023, 8, 31), datetime.timedelta(seconds=60060), 'MCP', '6th District, Gaithersburg / Montgomery Village', 'failure to immediately stop veh. at scene of accident involving bodily injury', 'OAKMONT AVE / GROVEMONT CIR', Decimal('39.10'), Decimal('-77.15'), 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'No', 'Not Applicable', 'Citation', None, '20-102(a1)', 'Not Applicable', None, 'MD', '02-Automobile', 2005, 'FORD', 'EXPLORER', 'BLACK', 'Citation', '20-102(a1)', 'Transportation Article', 0, 'HISPANIC', 'M', 'GAITHERSBURG', 'MD', 'MD', '(39.097965, -77.15301)', datetime.datetime(2023, 8, 31, 16, 41), 'A', 'Marked Patrol'), ('b66f253b-af29-4bc4-bb73-93755ca2a779', datetime.date(2023, 8, 31), datetime.timedelta(seconds=60060), 'MCP', '6th District, Gaithersburg / Montgomery Village', 'failure to immediately return and remain at scene of accident involving bodily injury', 'OAKMONT AVE / GROVEMONT CIR', Decimal('39.10'), Decimal('-77.15'), 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'No', 'Not Applicable', 'Citation', None, '20-102(a1)', 'Not Applicable', None, 'MD', '02-Automobile', 2005, 'FORD', 'EXPLORER', 'BLACK', 'Citation', '20-102(a2)', 'Transportation Article', 0, 'HISPANIC', 'M', 'GAITHERSBURG', 'MD', 'MD', '(39.097965, -77.15301)', datetime.datetime(2023, 8, 31, 16, 41), 'A', 'Marked Patrol'), ('969c21c0-a843-4e3c-bce6-9abecd6c12f3', datetime.date(2023, 8, 31), datetime.timedelta(seconds=32340), 'MCP', '4th District, Wheaton', 'failure to stop at stop sign', 'KAYSON / ESTELLE', Decimal('39.01'), Decimal('-77.09'), 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 'No', 'Not Applicable', 'NA', None, None, 'Not Applicable', None, 'XX', '19-Moped', 2020, 'LONGBOW', 'SXR', 'RED', 'Citation', '21-707(a)', 'Transportation Article', 0, 'WHITE', 'M', 'BETHESDA', 'MD', 'MD', '(39.0127196666667, -77.0908246666667)', datetime.datetime(2023, 8, 31, 8, 59), 'A', 'Marked Patrol'), ('df65bb01-5a6f-4f67-a610-082893b1d4fe', datetime.date(2023, 9, 1), datetime.timedelta(seconds=1620), 'MCP', '5th District, Germantown', 'driving vehicle on highway with suspended registration', '13031 WISTERIA DR', Decimal('39.18'), Decimal('-77.27'), 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'No', 'Not Applicable', 'Citation', None, '13-401(h)', 'Not Applicable', None, 'MD', '02-Automobile', 2019, 'HONDA', '4S', 'GRAY', 'Citation', '13-401(h)', 'Transportation Article', 0, 'BLACK', 'M', 'GAITHERSBURG', 'MD', 'MD', '(39.1782438333333, -77.2704891666667)', datetime.datetime(2023, 9, 1, 0, 27), 'A', 'Marked Patrol'), ('969c21c0-a843-4e3c-bce6-9abecd6c12f3', datetime.date(2023, 8, 31), datetime.timedelta(seconds=32340), 'MCP', '4th District, Wheaton', 'failure to control veh. speed on hwy. to avoid collision', 'KAYSON / ESTELLE', Decimal('39.01'), Decimal('-77.09'), 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 'No', 'Not Applicable', 'NA', None, None, 'Not Applicable', None, 'XX', '19-Moped', 2020, 'LONGBOW', 'SXR', 'RED', 'Citation', '21-801(b)', 'Transportation Article', 0, 'WHITE', 'M', 'BETHESDA', 'MD', 'MD', '(39.0127196666667, -77.0908246666667)', datetime.datetime(2023, 8, 31, 8, 59), 'A', 'Marked Patrol')]